@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Tenor+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #071330;
    width: 50vw;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 0;
    font-family: "Tenor Sans", sans-serif;
    font-size: 30px;
}

hgroup {
    font-family: "Tenor Sans", sans-serif;
    font-size: 40px;
}

h1 {
    color: #efe9e9;
}

.hero span {
    color: darkgrey;
    display: inline-block;
}

.self-introduction-expanded {
    color: #efe9e9;
}

a {
    text-decoration: none;
    color: #efe9e9;
}