* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #071330;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 500px;
}

a {
    text-decoration: none;
    color: white;
}